@model IEnumerable<WebApplication.Models.ContentGroup>

@{
    ViewBag.Title = "Content anlegen";
    int counter = 0;
}
@ViewBag.CourseTitle
@ViewBag.CourseDescription
@ViewBag.CourseId

<div id="contentGroups">
    <form class="search-form" action="@Url.Action("AddContent", "AddCourse")" method="get">
        <input type="text" class="form-control" placeholder="@ViewBag.CourseDescription" />
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Header)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Header)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Order)
                    </td>
                    <td>
                        <button type="button" onclick="deleteContentGroup(@counter)">Delete</button>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>


<script>

        var counter = 0
        function addContentGroup() {
            var html =



            $("#accordion").append(html)
            counter++
        }





        function addContentElement(counter) {


            var html = "<input id='description" + counter + "." + m.get(counter) + "' type='text' class='form-control'/> <input id='url" + counter + "." + m.get(counter) + "' type='text' class='form-control'/> <input class='form-control' id='order'" + counter + "." + m.get(counter) + " type='number' placeholder='Order' step='1' min='1' max=" + counter + 1 + "> <select class='selectpicker'><option>PDF</option><option>Video</option><option>Text</option></select>"



            $("#accordion" + counter).append(html)
            m.set(counter, m.get(counter) + 1)
        }





</script>
