@model IEnumerable<WebApplication.Models.ContentGroup>

@{
    ViewBag.Title = "Content anlegen";
    int counter = 0;
}

<div id="contentGroups">
    <form action="@Url.Action("AddContent", "AddCourse")" method="post">
        <table class="table" id="courseElementTable">
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Title
                </th>
                <th>
                    Id
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" value="@ViewBag.CourseDescription" placeholder="Description" id="description" name="description" />
                </td>
                <td>
                    <input type="text" class="form-control" value="@ViewBag.CourseTitle" placeholder="Title" id="title" name="title" />
                </td>
                <td>
                    <input type="number" class="form-control" value="@ViewBag.CourseId" readonly="readonly" name="id" />
                </td>
            </tr>
        </table>
        <table class="table" id="contentGroupTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Header)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Order)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="row+@counter">
                    <td>
                        <input name="header" id="header + @counter" type="text" placeholder="Header" class="form-control" required="required" value="@item.Header" />
                    </td>
                    <td>
                        <input name="order" id="order + @counter" type="number" placeholder="Order" class="form-control" required="required" min="1" max="rangeCounter" value="@item.Order" />
                    </td>
                    <td>
                        <button type="button" onclick="deleteContentGroup(@counter)" class="btn btn-primary">Delete</button>
                    </td>
                </tr>
            }
        </table>
        <button type="button" onclick="addContentGroup()" class="btn btn-primary">Add new Content Group</button>
        <div class="spacing">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


<script>
    var jsCounter = @counter;
    var rangeCounter = @counter;

    function addContentGroup() {
        var html = "<tr id='row" + jsCounter + "'> <td> <input name='header' id='header" + jsCounter + "' type='text' placeholder='Header' class='form-control' required='required' /> </td> <td> <input name='order' id='order" + jsCounter + "' type='number' placeholder='Order' class='form-control' required='required' /> </td> <td> <button type='button' onclick='deleteContentGroup(" + jsCounter + ")' class='btn btn-primary'>Delete</button> </td> </tr>";
        $("#contentGroupTable").append(html);
        jsCounter++;
        rangeCounter++;
    }

    function deleteContentGroup(cgCounter) {
        var elem = document.getElementById("row"+cgCounter);
        elem.parentNode.removeChild(elem);
        rangeCounter--;
    }
</script>

