@model IEnumerable<WebApplication.Models.ContentGroup>

@{
    ViewBag.Title = "Details des Kurses";

    int counter = 1;
}

<h2>Details über den Kurs @ViewBag.CourseName</h2>

@if (Model.Any())
{
    <div id="accordion">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-header" id="heading+@counter">
                    <h4 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#@counter" aria-expanded="false" aria-controls="@counter">
                            <h3>
                                @Html.DisplayFor(modelItem => item.Header)
                            </h3>
                        </button>
                    </h4>
                </div>
            </div>

            <div id="@counter" class="collapse" aria-labelledby="heading+@counter" data-parent="#accordion">
                @if (!item.ContentElements.Any())
                {
                    <h3>
                        Kein Inhalt vorhanden!
                    </h3>
                }
                else
                {
                    <div class="card-body">
                        <table class="table">
                            <tr>
                                <th>
                                    Beschreibung
                                </th>
                                <th>
                                    Inhalt
                                </th>
                            </tr>
                            @foreach (var sndItem in item.ContentElements)
                        {
                                <tr>
                                    <td>
                                        <h3>
                                            @Html.DisplayFor(modelItem => sndItem.Description)
                                        </h3>
                                    </td>
                                    <td>
                                        @if (sndItem.Type.Name == "Text")
                                        {
                                            <h3>
                                                @Html.DisplayFor(modelItem => sndItem.URL)
                                            </h3>
                                        }
                                        else if (sndItem.Type.Name == "PDF")
                                        {
                                            <a href="@sndItem.URL"><span class="glyphicon glyphicon-file"></span></a>
                                        }
                                        else if (sndItem.Type.Name == "Video")
                                        {
                                            <iframe width="640" height="385" src="@sndItem.URL" frameborder="0" allowfullscreen>@sndItem.URL</iframe>
                                        }
                                        else
                                        {
                                            <h3>
                                                @Html.DisplayFor(modelItem => sndItem.URL)
                                            </h3>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                }
            </div>

            counter = counter + 1;
        }
    </div>
}
else
{
    <h3>
        Dieser Kurs enthält momentan noch keinen Content!
    </h3>
}


<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
//this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = Model.Id; // Replace PAGE_IDENTIFIER with your page's unique identifier variable

};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://webapplicationproject-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
